Cliente/Proxies/Web References/TipoIdentificacion/TipoIdentificacionWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Listar">
        <s:complexType />
      </s:element>
      <s:element name="ListarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarResult" type="tns:ArrayOfTipoIdentificacionMSJ" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTipoIdentificacionMSJ">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TipoIdentificacionMSJ" nillable="true" type="tns:TipoIdentificacionMSJ" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TipoIdentificacionMSJ">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CODIGO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NOMBRE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ESTAACTIVO" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListarSoapIn">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="ListarSoapOut">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:portType name="TipoIdentificacionWSSoap">
    <wsdl:operation name="Listar">
      <wsdl:input message="tns:ListarSoapIn" />
      <wsdl:output message="tns:ListarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TipoIdentificacionWSSoap" type="tns:TipoIdentificacionWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TipoIdentificacionWSSoap12" type="tns:TipoIdentificacionWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar">
      <soap12:operation soapAction="http://tempuri.org/Listar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TipoIdentificacionWS">
    <wsdl:port name="TipoIdentificacionWSSoap" binding="tns:TipoIdentificacionWSSoap">
      <soap:address location="http://localhost/Servidor/Servicios/TipoIdentificacionWS.asmx" />
    </wsdl:port>
    <wsdl:port name="TipoIdentificacionWSSoap12" binding="tns:TipoIdentificacionWSSoap12">
      <soap12:address location="http://localhost/Servidor/Servicios/TipoIdentificacionWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>