Cliente/Proxies/Web References/Pago/PagoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Guardar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p" type="tns:PagoMSJ" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PagoMSJ">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SECUENCIAL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SECUENCIALPRESTAMO" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VALORPAGO" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FECHA" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SALDOPRESTAMO" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="GuardarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GuardarResult" type="tns:PagoMSJ" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GuardarSoapIn">
    <wsdl:part name="parameters" element="tns:Guardar" />
  </wsdl:message>
  <wsdl:message name="GuardarSoapOut">
    <wsdl:part name="parameters" element="tns:GuardarResponse" />
  </wsdl:message>
  <wsdl:portType name="PagoWSSoap">
    <wsdl:operation name="Guardar">
      <wsdl:input message="tns:GuardarSoapIn" />
      <wsdl:output message="tns:GuardarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PagoWSSoap" type="tns:PagoWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Guardar">
      <soap:operation soapAction="http://tempuri.org/Guardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PagoWSSoap12" type="tns:PagoWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Guardar">
      <soap12:operation soapAction="http://tempuri.org/Guardar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PagoWS">
    <wsdl:port name="PagoWSSoap" binding="tns:PagoWSSoap">
      <soap:address location="http://localhost/Servidor/Servicios/PagoWS.asmx" />
    </wsdl:port>
    <wsdl:port name="PagoWSSoap12" binding="tns:PagoWSSoap12">
      <soap12:address location="http://localhost/Servidor/Servicios/PagoWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>